.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/sharp/**
!node_modules/@img/**
!node_modules/color/**
!node_modules/color-string/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/simple-swizzle/**
!node_modules/detect-libc/**
!node_modules/semver/**
src/**
.gitignore
esbuild.js
cleanup/**
.claude/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
.git/**
**/*.test.ts
**/*.spec.ts
